<html>

<head>
    <title>
        <%= locals.title%>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header id="header">
        <h1>TODO APP</h1>
    </header>
    <!-- create todo task -->
    <div class="row">
        <nav class="col-sm">
        </nav>
        <main class="col-sm" id="main">
            <!-- Creating new Todo Task start -->
            <form action="/create-todo" method="POST" id="addTask">
                <hr>
                <div>
                    <label>Description</label><br>
                    <input type="text" name="Description" placeholder="Add a description" required />
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm">
                        <label>Category</label><br>
                        <select id="category" name="Category" required>
                            <option value="">Choose a category</option>
                            <option value="Personal">Personal</option>
                            <option value="Work">Work</option>
                            <option value="School">School</option>
                            <option value="Cleaning">Cleaning</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="col-sm">
                        <label>Due Date</label>
                        <input type="date" name="Due_Date" required>
                    </div>
                </div>
                <hr>
                <div id="action">
                    <button type="submit" id="create">+Add Task</button>
                </div>
            </form>
            <!-- Creating new Todo Task end -->
        </main>
        <!-- Filter Todo Task -->
        <aside class="col-sm" id="aside">
            <label>Filter by category : </label><br>
            <select id="category" name="Category" onmousedown="this.value='';" onchange="filter(this.value)">
                <option value="">Choose a category</option>
                <option value="Personal">Personal</option>
                <option value="Work">Work</option>
                <option value="School">School</option>
                <option value="Cleaning">Cleaning</option>
                <option value="Other">Other</option>
            </select>
        </aside>
    </div>
    <!-- table start, Table will be only visible when table has at least one todo task -->
    <%if (todo_list.length > 0) { %>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="/delete-multiple-todo" method="GET">
                    <div id="action" style="text-align: right;">
                        <button type="submit" id="delete">Delete Task</button>
                    </div><br>
                    <table class="table table-bordered">
                        <thead id="thead" style="display: none;">
                            <tr>
                                <th scope="col" class="format-data-in-table">Select Task</th>
                                <th scope="col" class="format-data-in-table">Task Description</th>
                                <th scope="col" class="format-data-in-table">Category</th>
                            </tr>
                        </thead>
                        <thead id="thead">
                            <tr>
                                <th scope="col" class="format-data-in-table">Select Task</th>
                                <th scope="col" class="format-data-in-table">Task Description</th>
                                <th scope="col" class="format-data-in-table">Category</th>
                                <th scope="col" class="format-data-in-table">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Looping over Todo list -->
                            <% for (let i of todo_list) { %>
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" onclick="checkbox(value)" id="<%= i._id %>"
                                            name="id" value="<%= i._id %>">
                                    </div>
                                </td>
                                <!-- You can even Update The todo task -->
                                <td><%= i.Description %><br>
                                    <p id="format-date"><i class="fa fa-calendar"
                                            aria-hidden="true"></i>&nbsp;&nbsp;<%= i.Due_Date %></p>
                                </td>
                                <td class="format-data-in-table">
                                    <p id="cat"><%= i.Category %></p>
                                </td>
                                <td class="format-data-in-table" id="edit-button">
                                    <a onclick="myFunction('<%=i._id%>')"
                                        ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>    
                </form>
            </div>
        </div>
    </div>
    <% } %>
    <!-- table end -->
    <script type="text/javascript" src="/js/home.js"></script>
</body>

</html>